<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Envia un missatge de Limegram a l'Alex dient que hi seré en 10 minuts</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Mostra els meus missatges de Limegram</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Marca els meus missatges de Limegram com a llegits</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Truca a l'Alex per Limegram</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchCallHistoryIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Mostra les meves trucades perdudes de Limegram</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
