<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Invia un messaggio su Swiftgram (Swiftgramma) ad Alex dicendo che sarò lì tra 10 minuti</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Chiama Alex su Swiftgram</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Mostra i miei messaggi su Swiftgram</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Segna i miei messaggi su Swiftgram come letti</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchCallHistoryIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Mostra le mie chiamate perse su Swiftgram</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
