<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Send a Swiftgram message to Alex saying I&apos;ll be there in 10 minutes</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Telepon Alex di Swiftgram</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Tampilkan pesan Swiftgram saya</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Tandai pesan Swiftgram saya sebagai sudah dibaca</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchCallHistoryIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Tampilkan panggilan Swiftgram saya yang tidak terjawab</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
