<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Ji Alex re peyameke Swiftgram bişîne ku ez ê di 10 deqeyan de li wir bim</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Bi Swiftgram gazî Alex bike</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Peyamên min ên Swiftgram nîşan bide</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Peyamên min ên Swiftgram wek xwendî nîşan bike</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchCallHistoryIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Bangên min ên Swiftgram ên ji dest çûyî nîşan bide</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
