<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Azizga Limegram orqali 10 daqiqada yetib boraman deb xabar yubor</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Limegram xabarlarimni ko'rsat</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Limegram xabarlarimni o'qilgan deb belgila</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Limegram orqali Azizga qo'ng'iroq qil</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchCallHistoryIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Limegramdagi javobsiz qo'ng'iroqlarimni ko'rsat</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
